
@font-face {
    font-family: "LifeCraft_Font";
    src: url("../fon")
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-fluid {
    width: 100%;
    height: auto;
}


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}




header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}




.logo {
    width: 800px;
}

/* header {
    height: 200px;
    background-color: slategray;
    position: fixed;
    left: 10%;
    z-index: 1000;
} */



/* .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
} */


.paralax {
    background: url("../img/canyon.jpg")fixed;
    background-position: center;
    background-size: cover;
}


.blanc {
    height: 90vh;
    background-color: white;
    position: relative;
    opacity: 1;
    transition: 1s opacity;
}

.blanc.fade-out {
    opacity: 0;
    transition: none;
}


/* .darrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
} */

.darrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-width: 0px 10px 10px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.darrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}



.blanc2 {
    margin-top: 95vh;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.3);
}

h1{
    width: 100%;
    color: white;
    font-size: 50px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    width: 90%;
    color: white;
    font-size: 50px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




.blanc,
.blanc2,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.blanc-packs {
    background-color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.flex-container {
    display: flex;
    justify-content: center;
    padding: 60px;
    margin: auto;
    list-style: none;
}

.flex-item {
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 100px 15px 0 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
    width: 280px;
    text-align: justify;
}

h3 {
    font-size: 16px;
    width: 280px;
    text-align: center;
    padding: 10px;
}

.img-finlande {
    width: 280px;
    height: 280px;
}

.img-suede {
    width: 280px;
    height: 280px;
}

.img-norvege {
    width: 280px;
    height: 280px;
}

.img-danemark {
    width: 280px;
    height: 280px;
}


.zoom:hover{
    transform: translateY(-5px);
}


footer {
    background-color: rgba(3, 3, 3, .5);
    height: 15vh;
    
}


.reseaux {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    
}

.logo-footer {
    
}